
@import 'bourbon';
@import 'neat';
@import '../variables';

.JoinGameInstructions {
  @include span-columns(4);
  position: relative;
  display: block;
  background: $sand;
  padding: 0;
  color: $black;
  // text-align: center;

  header {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    background: lightgray;
  }

  p {
    font-size: 20px;
    margin-right: 10px;
  }
}

.bold {
  // text-align: center;
  color: green !important;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 0;
  font-size: 30px !important;
}

:global .react-qr {
  width: 230px;
  // height: 180px;
  display: block;
  // position: absolute;
  // bottom: 10px;
  // right: 10px;
  // margin: auto;
}
