
@import 'bourbon';
@import 'neat';
@import '../variables';
@import '../mixins';

.JoinGameInstructions {
  @include span-columns(4);
  @include module;
  @include module-header;

  section {
    padding: 0 10px 10px;
  }

  p {
    font-size: 20px;
    margin-right: 10px;
  }
}

.bold {
  // text-align: center;
  color: green !important;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 0;
  font-size: 30px !important;
}

:global .react-qr {
  width: 230px;
  // height: 180px;
  display: block;
  // position: absolute;
  // bottom: 10px;
  // right: 10px;
  // margin: auto;
}
