
@import 'bourbon';
@import 'neat';
@import '../variables';

.JoinGameInstructions {
  @include span-columns(6);
  display: block;
  background: white;
  background: $sand;
  margin: 0;
  p {
    color: #222222;
    font-size: 20px;
  }
}

.url {
  color: green;
}

.id {
  color: green;
}

:global .react-qr {
  width: 180px;
  height: 180px;
  display: block;
  // position: absolute;
  // top: 210px;
  // left: 210px;
  margin: 0;
}
