.latency-indicator {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 10px;
  z-index: 1000;
  .click-to-show-latency {
    min-height: 30px;
    width: 90px;
    position: relative;
    span {
      position: absolute;
      bottom: 0;
    }
  }
  .latency-numbers {
  }
  .latency-figures {
    figure {
      width: 3px;
      background: black;
      display: inline-block;
      margin: 0 2px;
      border: 1px solid darkgray;
      &:nth-child(1) {
        height: 3px;
        background: white;
      }
      &:nth-child(2) {
        height: 6px;
      }
      &:nth-child(3) {
        height: 9px;
      }
      &:nth-child(4) {
        height: 12px;
      }
    }
    &.level-2 {
      figure {
        &:nth-child(2) {
          background: white;
        }
      }
    }
    &.level-3 {
      figure {
        &:nth-child(3) {
          background: white;
        }
      }
    }
    &.level-4 {
      figure {
        &:nth-child(4) {
          background: white;
        }
      }
    }
  }
}
