
@import 'bourbon';
@import 'neat';
@import '../variables';
@import '../mixins';

.Leaderboard {
  @include span-columns(5);
  // @include shift(1);
  position: relative;
  display: block;
  background: $sand;
  text-align: center;
  color: #222222;
  min-height: 400px;
  p {
    color: #222222;
    font-size: 20px;
  }
  header {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    background: lightgray;
  }
  table {
    width: 100%;
    text-align: left;
    th {
      padding: 10px;
      &:last-child {
        text-align: right;
      }
    }
    td {
      padding: 8px 10px;
    }
  }
}

.neutral {
  color: $gray;
}

.hidden {
  display: none;
}

.correct {
  color: lime;
}

.points {
  text-align: right;
}

.position {
  margin-right: 10px;
}
