
@import 'bourbon';
@import 'neat';
@import '../variables';

.Leaderboard {
  @include span-columns(4);
  @include shift(2);
  position: relative;
  display: block;
  background: white;
  background: $sand;
  text-align: center;
  color: #222222;
  min-height: 400px;
  p {
    color: #222222;
    font-size: 20px;
  }
  header {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    background: lightgray;
  }
  table {
    width: 100%;
    text-align: left;
    th {
      padding: 10px;
    }
    td {
      padding: 8px 10px;
    }
  }
}

.neutral {
  color: $gray;
}

.hidden {
  display: none;
}
.correct {
  color: lime;
}

.points {
  text-align: right;
}
