### SublimeText ###
*.sublime-workspace

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Other ###
TODO.md

### App specific ###
node_modules/
.tmp
dist
/src/main.js
/server/config/secrets.js
coverage/
