### SublimeText ###
*.sublime-workspace
*.sublime-project

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Other ###
TODO.md

### App specific ###
node_modules/
npm-debug.log
.tmp
dist
/src/main.js
coverage/
