
@import 'bourbon';
@import 'neat';
@import 'variables';

@mixin mq-container {
  @include outer-container;
  display: block;
  position: relative;
  height: 600px;
}

@mixin mq-module {
  position: relative;
  display: block;
  background: $sand;
  padding: 0;
  color: $black;
}

@mixin mq-module-header {
  header {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    background: lightgray;
  }
}
