
@import 'variables';
@import 'fonts';

/* Stiziles */
html, body {
  // background: #2e2f33;
  // background: #222222;
  font-family: $main-font;
  -webkit-tap-highlight-color: transparent !important;
  overflow: hidden;
}

*:focus {
  outline: 0;
}

button {
  color: black;
}

input {
  color: black;
}

@import 'components/DevelopmentHelpers';
