@import '../variables';

.About-view {
  border: 1px dashed #FFFF00;
}

.black {
  // color: #000;
  color: $spotify-green;
  background: #EEE;
  font-size: 40px;
}

:global {
  .black {
    color: red;
  }
}
