@import 'bourbon';
@import 'neat';
@import '../variables';

.styles {
  @include span-columns(6);
  @include shift(3);
  display: block;
  background: $sand;
  padding-bottom: 20px;
  text-align: center;
  h1 {
    color: #222222;
  }
  p {
    color: #222222;
    font-size: 20px;
  }
}
