@import 'bourbon';
@import 'neat';
@import '../variables';
@import '../mixins';

.Home {
  @include span-columns(6);
  @include shift(3);
  @include mq-module;

  height: 600px;
  padding-bottom: 20px;
  text-align: center;

  p {
    font-size: 20px;
  }
}
