@import 'bourbon';
@import 'neat';
@import '../../variables';
@import '../../mixins';

.Lobby {
  @include outer-container;
  display: block;
  position: relative;
}

.wrapper {
  @include span-columns(3);
  color: $black;

  header {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    background: lightgray;
  }
}

.settings,
.rules {
  background: $sand;
  min-height: 270px;
}

.settings {
}

.rules {
  margin-top: 25px;
  ul {
    padding: 0 10px 10px;
    font-size: 13px;
    list-style: none;
  }
  li {
    margin-bottom: 10px;
  }
}

// .players {
//   display: block;
//   background: white;
//   position: absolute;
//   top: 190px;
//   left: 790px;
//   width: 420px;
//   height: 420px;
//   margin: 0;
//   text-align: center;
//   box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.9);
//   p {
//     color: #222222;
//     font-size: 20px;
//   }
// }
