
@import 'bourbon';
@import 'neat';
@import '../../variables';
@import '../../mixins';

.Lobby {
  @include mq-container;
}

.wrapper {
  @include span-columns(4);
  @include display(flex);
  @include flex-direction(column);
  @include mq-module-header;

  height: 100%;
  position: relative;
}

.settings,
.rules {
  @include mq-module;
}

.settings {
  @include flex(1);
}

.rules {
  @include flex(1);
  margin-top: 25px;

  ul {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    height: 230px;
    position: relative;
    padding: 0 10px 10px;
    font-size: 15px;
    list-style: none;
  }
}

// .players {
//   display: block;
//   background: white;
//   position: absolute;
//   top: 190px;
//   left: 790px;
//   width: 420px;
//   height: 420px;
//   margin: 0;
//   text-align: center;
//   box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.9);
//   p {
//     color: #222222;
//     font-size: 20px;
//   }
// }
